<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <style>
        * {
            box-sizing: border-box;
        }

        html {
            font-size: 62.5%;
        }

        body {
            font-size: 1.6rem;
            font-family: "Roboto", sans-serif;
        }

        header {
            background-image: url("/images/bg5.jpg");
            color: white;
            display: flex;
            min-height: calc(100vh - 10rem);
            background-size: cover;
            background-position: center center;
            flex-direction: column;
            align-items: flex-start;
        }

            header .content {
                margin: auto;
                font-size: 2rem;
            }

                header .content h1 {
                    font-size: 3rem;
                    margin-bottom: 3rem;
                    font-weight: bold;
                    color: #00c2ff;
                }

                header .content p {
                    margin-bottom: 2rem;
                }

        a {
            text-decoration: none;
            color: white;
        }

        .container {
            margin: 0 auto;
            max-width: 100%;
            width: 100rem;
        }

        nav {
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            align-items: baseline;
        }

            nav ul {
                display: flex;
                list-style-type: none;
                padding: 0;
            }

            nav .logo {
                font-size: 3rem;
            }

            nav li a {
                padding: 1rem;
            }

        .selected {
            font-weight: bold;
        }

        .highlight {
            background-color: #00c2ff;
            padding: 1rem;
        }

        footer {
            height: 10rem;
            background-color: #000;
            color: #fff;
            padding: 1rem;
        }

            footer ul {
                display: flex;
                list-style-type: none;
                align-items: center;
                justify-content: space-between;
                padding: 0;
            }

            footer strong {
                color: #00c2ff;
                line-height: 2;
            }

        ul, li {
            margin: 0;
            padding: 0;
        }

        body {
            margin: 0;
            padding: 0;
        }
        /*# sourceMappingURL=style.css.map */
    </style>
</head>
<body style="overflow:hidden;">
    <header>
        <nav class="container" style="display: flex; align-items: center">
            <!--<div class="logo"
         style="display: flex; align-items: baseline; position: relative">-->
            <!-- <i class="fa-solid fa-car"></i> -->
            <!--<div class="images" style="width: 50px; height: 50px">
            <img style="width: 100%; height: 100%; object-fit: cover"
                 src="~/images/logo.png"
                 alt="" />
        </div>
        <div style="
      font-size: 25px;
      position: relative;
      transform: translatey(-10px);
    ">
            Sushi JP
        </div>
    </div>-->

            <ul>
                <li><a href="#" class="selected">Trang chủ</a></li>
                <li><a href="#">Nổi bật</a></li>
                <li><a href="#">Giá</a></li>
                <li><a href="#">liên hệ</a></li>
                <li><a href="#" class="highlight">Đặt bàn</a></li>
            </ul>
        </nav>
        <div class="content">
            <div class="container">
                <h1>Xác nhận Emai!</h1>
                <p>Bạn cần xác nhận email để thực hiện đăng nhập</p>
                <a href="https://mail.google.com/" class="highlight">Xác thực ngay</a>
            </div>
        </div>
    </header>

    <footer>
        <ul class="container">
            <li>
                <strong>Địa Chỉ</strong>
                <p>140 Lê Trọng Tấn</p>
            </li>
            <li>
                <strong>Điện Thoại</strong>
                <p>+84 040 400 400</p>
            </li>
            <li>
                <strong>Email</strong>
                <p>sushijpvn@gmail.com</p>
            </li>
        </ul>
    </footer>
</body>
</html>
