
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Share/layout_user.cshtml";
}

<!doctype html>
<html lang="zxx">


<!-- Mirrored from barakahit.net/html/brulee/menu-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Nov 2024 05:59:10 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>Chay Tuệ-Nhà hàng chay</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Italianno&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <!-- Font Awesome Min CSS -->
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
    <!-- Mean Menu CSS -->
    <link rel="stylesheet" href="/assets/css/meanmenu.css">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.min.css">
    <!-- Swiper Min CSS -->
    <link rel="stylesheet" href="/assets/css/swiper.min.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <!-- jquery ui Min CSS -->
    <link rel="stylesheet" href="/assets/css/jquery-ui.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>


<body>

    <!-- Start Preloader Area -->
    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="lds-spinner">
                    <div></div><div></div><div></div>
                    <div></div><div></div><div></div>
                    <div></div><div></div><div></div>
                    <div></div><div></div><div></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Preloader Area -->
    <!-- Start Page Title Area -->
    <div class="page-title-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>Menu</h2>
                        <ul>
                            <li><a href="index-2.html">Trang Chủ</a></li>
                            <li>Menu</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->
    <!-- Start Menu Two Section -->
    <section class="menu-area-two pt-100 pb-70">
        <div class="container">
            <div class="row" style="flex-direction:column">
                <div class="col-md-12">
                    <div class="section-title">
                        <h6 class="sub-title">Danh Sách Món Ăn</h6>
                       
                    </div>
                </div>
                <div class="col-lg-6 col-md-6" style="max-width:100%">
                    <div class="brulee-food-menu">
                        <h3>Menu</h3>
                        @Html.Action("DanhSachMonAn", "MonAn")
                    </div>
                </div>


            </div>

    </section>
    <!-- End Menu Section -->
   
    <!-- End Go Top Section -->
    <!-- jQuery Min JS -->
    <script src="/assets/js/jquery.min.js"></script>
    <!-- Bootstrap Min JS -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Mean Menu JS  -->
    <script src="/assets/js/jquery.meanmenu.js"></script>
    <!-- Appear Min JS -->
    <script src="/assets/js/jquery.appear.min.js"></script>
    <!-- CounterUp Min JS -->
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <!-- Owl Carousel Min JS -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup Min JS -->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Isotope Min JS -->
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <!-- Swiper Min JS -->
    <script src="/assets/js/swiper.min.js"></script>
    <!-- jquery ui Min JS -->
    <script src="/assets/js/jquery-ui.min.js"></script>
    <!-- Nice Select Min JS -->
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <!-- WOW Min JS -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>

</body>


<!-- Mirrored from barakahit.net/html/brulee/menu-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Nov 2024 05:59:10 GMT -->
</html>
